@media screen and (min-width: 570px) {
    #temple-pics{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 740px) {
    nav {
        display: flex;
        justify-content: space-between;
    }
    #top-nav {
        width: 30%;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        margin: 0;
    }
    nav a {
        text-align: right;
        font-size: 20px;
    }
    #temple-pics {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    figure img, figcaption {
        grid-column: auto;
    }

}
