*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
}

main {
    margin: auto;
    max-width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;
    background-color: lightblue;
}

h1 {
    text-align: left;
}
#hamburger-x::after {
	content: "☰";
    font-size: 3rem;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    transition: 0.8s;
    font-size: 1rem;
    padding: 0.5rem;
    margin: auto;
}

nav a:hover {
    color: blue;
}
.open #top-nav {
    display: block;
}

#hamburger-x.open::before {
    content: "X";
}

h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 5px;
    margin-bottom: -5px;
}

figure {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

figcaption {
    margin-top: 7px;
    text-align: center;
}

figure img {
    max-width: 80%;
    height: 80%;
}

footer {
    background-color: lightblue;
    text-align: center;
    padding: 20px;

}